.movies {
    display : flex;
    flex-wrap: wrap;
}

.movieListDiv {
    display: inline-block;
    width: 23%;
    margin: 10px;
    border: none;
    margin-top: 20px;
    transition: 0.3s;
  }

  .movieListDiv:hover {
    transform: scale(1.2);
  }

  .addButton  {
    margin-bottom: 5%;
  }

  img   {
      width: 185px;
      height: auto;
  }